
body {
	background-color: lightgreen;
text-align: center;
}

div {
  padding-top: 40px;
}

select {
padding-left: 20px;

}
table {
  border: 1px solid black;
    width: 100%;
}

td {
  vertical-align: center;
}
table, td, th {  
  text-align: center;
}

body {
 background-image: url("pizza-margherita-edit.jpg");
 background-size: 150%;
}

p {
  font-family: "Lucida Console"
}
